<div class="mx-auto pb-6 border">
  <div class="px-5 py-6">
    <h1 class="text-center"><%= current_user.name %>'s Booking Page</h1>
    <p class="text-center mt-2">Book your prefered time slot using the booking options below.</p>
  </div>
</div>

<div class="text-decoration-none d-flex align-items-start flex-wrap justify-content-evenly p-3 redborder">
  <% @user.booking_types.each do |booking_type| %>
  <div class="w-25 redborder">
    <%= render "users/booking_type", booking_type: booking_type %>
  </div> 
  <% end %>
</div>
