<div class="mx-auto pb-6 border">

  <div class="px-5 py-6">
    <h1 class="text-center"><%= current_user.name %>'s Booking Page</h1>
    <p class="text-center mt-2">Book your prefered time slot using the booking options below.</p>
  </div>
  <div class="grid grid-cols-3 gap-6 px-8 pt-8">
    <% @user.booking_types.each do |booking_type| %>
      <%= render "users/booking_type", booking_type: booking_type %>
    <% end %>
  </div>
</div>