<div class="mx-auto border">
    <div class="px-3 py-5">
        <h1>
            <%= @user.name %>'s Booking Page'
        </h1>
        <p class="text-center">Book your preferred time slot using the booking options below</p>
    </div>
    <div class="grid grid-cols-3 gap-6 px-8 pt-8">
        <% @user.booking_types.each do |booking_type| %>
            <%= render "users/booking_type", booking_type: booking_type %>
        <% end %>
</div>