<html>
    <style>
    body {
    background-image: image-url('app/assets/images/Dog_Head_Cocked.png');
    }
    </style>
    <body>
        <h1>WagMobiles!</h1>
        <p>Find me in app/views/pages/about.html.erb</p>
        <%= link_to "Homepage", root_path %>
        <%= link_to "Posts", posts_path %>
        
    </body>
</html>