<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="m-5">
            <h1>WagMobiles</h1>
            <p>was born due to a need to spend more time with my canine companion.</p>

            <%# <%= link_to "Manage Billing", @portal_session.url %>
        </div>
        
    </body>
</html>