<html>
    <div class="container">
        <p>WagMobiles - Dog Daycare, Dog Day Care, Pet Sitting, Dog Daycare</p>
        <h1>My Homepage</h1>
        <p>Catch me outside, how bout dat</p>
        <%= link_to "About Me", about_path %>
    </div>
</html>