.navbar {
  margin: 0;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 3px;
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  vertical-align: auto;
  height: 45px;
  margin: 0;
}
.navbar li a,
.navbar .navbar-brand {
  color: #090101 !important;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #100602 !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #a90a0a !important;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
